<div class="footer navbar-fixed-bottom my_footer" style="background-color:black;">

    <p class="text-center" style="color:white"><b>Copyright ©2022 All rights reserved. Developed by e-shop pvt ltd.</b>
<!--        <a class="btn btn-primary" style="font-size:10px; background-color: #3b5998;" href="https://www.facebook.com/beautyofalappuzha/" role="button"><i class="fab fa-facebook-f"></i></a>-->
<!--        <a class="btn btn-primary" style="font-size:10px; background-color: #ac2bac;" href="https://www.instagram.com/beautyofalappuzha/" role="button"><i class="fab fa-instagram"></i></a>-->
<!--        <a class="btn btn-primary" style="font-size:10px; background-color: #ed302f;" href="https://www.youtube.com/beautyofalappuzha/" role="button"><i class="fab fa-youtube"></i></a>-->

    </p>

</div>